<div
  (mousemove)="mouseMove($event)"
  class="info-box"
  [hidden]="isHidden">
  Info Box
</div>

<div>
  <p>X: {{mouseX}}</p>
  <p>Y: {{mouseY}}</p>
</div>

<button (click)="toggleBox()">
  Test
</button>

<h2 (click)="onTitleClicked()">
  {{title}}
</h2>

Title: <input type="text" [(ngModel)]="newBook.title">
ISBN: <input type="text" [(ngModel)]="newBook.isbn">

<button (click)="addBook(newBook)">Add book</button>

<div *ngFor="let book of books">
  <h3>{{book.title}}</h3>
  {{book.isbn}}, {{book.author}}
</div>
